 

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Our Services</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
  </div>
</div>

<div class="row mb-2">
  <% @services.each do |service| %>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-8 p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><%= service.name %></h3>
          <div class="mb-1 text-muted">$ <%= service.price.to_f %></div>
          <p class="card-text mb-auto"><%= service.description %></p>
        </div>
        <div class="col-4 d-none d-lg-block">
          <%= image_tag service.image.url %>
        </div>
      </div>
    </div>
  <% end -%>
</div>

